
@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea{
	@apply border-2 border-gray-300 rounded-md px-1 w-full;
	@apply mb-2;
}
input:focus, textarea:focus {
	@apply border-blue-900;
}

h1 {
	@apply text-blue-900 mb-2 text-xl
}
label {
	@apply text-blue-900
}
.btn-primary{
	@apply bg-blue-900 text-white px-4 py-1 rounded-md;
}
table.basic{
	@apply w-full
}
table.basic thead tr td{
	@apply bg-blue-200 
}
table.basic tr td{
	@apply border border-gray-300 p-1;
}

table.basic a {
	@apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1
}
.btn-default, .btn-red{
	@apply px-4 py-1 rounded-md
}

.btn-red{
	@apply bg-red-800 text-white
}
.btn-default{
	@apply bg-green-400 text-white
}